@use "sccs/responsive";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&family=Lexend+Deca&display=swap");

$color-very-dark-blue: hsl(233, 47%, 7%);
$color-dark-desaturated-blue: hsl(244, 38%, 16%);
$color-soft-violet: hsl(277, 64%, 61%);
$color-white: hsl(0, 0%, 100%);
$color-slightly-transparent-white_75: hsla(0, 0%, 100%, 0.75);
$color-slightly-transparent-white_60: hsla(0, 0%, 100%, 0.6);

$font-inter: "Inter", sans-serif;
$font-deca: "Lexend Deca", sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: $font-inter;
  background-color: $color-very-dark-blue;
}

.preview-card-section {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;

    .main-card {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      border-radius: 10px;
      background-color: $color-dark-desaturated-blue;

      @include responsive.s {
        max-height: 710px;
        max-width: 460px;
      }

      @include responsive.xl {
        display: flex;
        flex-direction: row;
        max-height: 370px;
        max-width: 900px;
      }

      .image-box {
        display: inline-block;
        width: 100%;
        height: 240px;
        background-color: $color-soft-violet;

        @include responsive.s {
          min-height: 355px;
        }

        @include responsive.xl {
          display: flex;
          flex-direction: row;
          width: 50%;
          height: 100%;
        }

        img {
          object-fit: cover;
          width: 100%;
          max-height: 100%;
          mix-blend-mode: multiply;
          opacity: 0.75;
        }
      }

      .description-box {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 45px 25px 25px 25px;

        @include responsive.s {
          min-height: 355px;
        }

        @include responsive.xl {
          padding: 50px;
          width: 50%;
        }

        .info {
          display: flex;
          flex-direction: column;
          gap: 15px;

          h1 {
            max-width: 285px;
            font-size: 26px;
            font-family: $font-inter;
            letter-spacing: 0.7px;
            text-align: center;
            padding: 0px 15px;
            color: $color-white;

            span {
              color: $color-soft-violet;
            }

            @include responsive.xl {
              max-width: 100%;
              text-align: left;
              padding: 0;
            }
          }

          p {
            max-width: 285px;
            font-size: 14px;
            font-weight: 200;
            line-height: 1.8;
            letter-spacing: 0.7px;
            text-align: center;
            padding: 0px 5px;
            font-family: $font-inter;
            color: $color-slightly-transparent-white_75;

            @include responsive.xl {
              max-width: 94%;
              text-align: left;
              font-size: 12px;
              padding: 0;
            }
          }
        }
      }

      .stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 30px;

        @include responsive.s {
          display: flex;
          flex-direction: row;
          justify-content: center;
          height: 100%;
        }

        @include responsive.xl {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          max-width: 280px;
          height: 100%;
        }

        p {
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 24px;
          font-weight: 700;
          letter-spacing: 0.6px;
          color: $color-white;
          font-family: $font-inter;

          @include responsive.xl {
            align-items: flex-start;
            font-size: 20px;
          }

          span {
            font-weight: 400;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1.5px;
            padding-top: 5px;
            font-family: $font-inter;
            color: $color-slightly-transparent-white_60;

            @include responsive.xl {
              font-size: 8px;
            }

            &:last-child {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}

footer {
  position: absolute;
  top: 98%;
  left: 50%;
  transform: translate(-50%, -50%);

  .attribution {
    font-size: 0.8rem;
    text-align: center;
    min-width: 350px;
    color: white;

    a {
      color: hsl(228, 45%, 44%);
    }
  }
}
